@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

body {
  text-align: center;
  background-color: #7D000F;
  background-size: cover;
  color: #000000;
  font-family: copperplate;
}
h1 {
  font-family: righteous, cursive;	
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;	
}
h1, h2 {
  color: #eab52b;
}
h2 {
  font-family: satify, cursive;
}

hr {
  width: 500px;
  height: 5px
}
p {
  font-size: 20px;
}
ul {
  text-align: center;
  list-style-type: none;
}
a {
  text-decoration: none;
}

header {
  background-color: #FFED74;
  border: 1px black solid;
  padding: 20px;
}

nav {
  background-color: #FFC675;
  border: 1px black solid;
  padding: 20px;
}

article {
  background-color: #E89C6C;
  border: 1px black solid;
  padding: 20px;
}

footer {
  background-color: #FF957E;
  border: 1px black solid;
  padding: 20px;
}

div id="services" {
  background-color: #FFE2B8
  border: 1px black solid;
  padding: 20px; 
}






